@use '../abstracts' as *;
.container {
  width: min(100% - $gap-lg, $container-primary);
  margin-inline: auto;
}

.container-sm {
  width: min(100% - $gap-lg, $container-sm);
  margin-inline: auto;
}